<MsgType><![CDATA[text]]></MsgType>
<Content><![CDATA[互动活动需要注册并登录后方能参加，如果您已经注册过”你读书，我买单“，可以<a href="http://42.96.206.128/login?wechat_id=<%= @wechat_id %>">点此链接进行登录</a>，如果您尚未注册，<a href="http://42.96.206.128/signup?wechat_id=<%= @wechat_id %>">点此链接进行注册</a>]]></Content>