<MsgType><![CDATA[news]]></MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
    <item>
        <Title><![CDATA[你读书我买单]]></Title>
        <Description><![CDATA[欢迎加入你读书我买单俱乐部]]></Description>
        <PicUrl><![CDATA[http://42.96.206.128/assets/poster-19121c76b14c74f59510174fc0d0e5fb.jpg]]></PicUrl>
        <Url><![CDATA[http://42.96.206.128/]]></Url>
    </item>
</Articles>